/*
# homepage Styles
===============================================
*/
#overlay-image {
	margin: -3%;
}

.logo {
    margin: auto;
    padding: 15px;
}

.navbar-default {
	background-color: #fff;
}

.sidenav {
	margin: 5% auto auto -2%;
}

.sidebar {
  margin: 5% auto 5% -2%;
}

.sidebar-inner {
  margin-bottom: 2%;
}

footer {    
  background-color: #111;
  color: black;
  padding: 15px;
}

.img-circle {
  width: 45px;
  max-width: 1232px;
  height: 45px;
  vertical-align: middle;
}

/*
# topnavbar Styles
===============================================
*/
#menu-signup {
   background-color: #E87511;
    margin: 15px 20px;

}

#menu-login {
    background-color: #E87511;
    margin: 15px 20px;
}

.top-search form input[type="submit"] {
    background: url(../dashboard/images/9.png) no-repeat 0px 0px !important;
    width: 18px !important;
    height: 18px !important;
    border: none !important;
    position: absolute !important;
    outline: none !important;
    top: 16px;
    right: 10px;
}
