/*
# homepage Styles
===============================================
*/
#overlay-image {
	margin: -3%;
}

.logo {
    margin: auto;
    padding: 15px;
}

.navbar-default {
	background-color: #fff;
}

.sidenav {
	margin: 5% auto auto -2%;
}

.sidebar {
  margin: 5% auto 5% -2%;
}

.sidebar-inner {
  margin-bottom: 2%;
}

footer {    
  background-color: #111;
  color: black;
  padding: 15px;
}

.img-circle {
  width: 45px;
  max-width: 1232px;
  height: 45px;
  vertical-align: middle;
}

/*.word-adjust {
  float: left;
  height: 50px;
  line-height: 50px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
*/
/*
# topnavbar Styles
===============================================
*/
#menu-signup {
   background-color: #E87511;
    margin: 15px 20px;

}

#menu-login {
    background-color: #E87511;
    margin: 15px 20px;
}
